%h1
  Informacije

%p
  Za prijave na utrke potrebna je
  = link_to 'registracija', new_racer_path
  na stranici.

%p
  Da biste izvršili prijavu za utrku potrebno je:

%ul
  %li biti prijavljen na stranicu,
  %li
    u izborniku
    = link_to 'utrke', races_path
    odabrati utrku na koju se želite prijaviti,
  %li u prijavama utrke odaberite kategoriju, te potvrdite na "Prijavi se".

%p
  Ukoliko ste se odjavili sa stranice, za ponovnu prijavu koristite e-mail
  adresu i broj mobitela u formatu koji ste unijeli prilikom registracije.

%p
  Za sve probleme, molimo kontaktirajte nas na
  %a{ href: 'mailto:stoperica.timing@gmail.com' }
    e-mail.

%p
  Na mobilnim uređajima stranica se najbolje prikazuje na
  %a{ href: 'https://www.google.com/chrome/browser/mobile/' }
    Google Chrome web pregledniku.

%hr

%h1
  Information

%p
  For registration on races, site
  = link_to 'registration', new_racer_path
  is required.

%p
  To make a race registration you need

%ul
  %li to be logged on the page and
  %li
    select the race from the
    = link_to 'race menu', races_path
  %li
    choose a category on race details page and confirm your application on the
    "Prijavi se" button.

%p
  If you log out of the site, please use the e-mail address and mobile phone
  number in the format you entered when registering to re-apply.

%p
  For any problems, please contact us on
  %a{ href: 'mailto:stoperica.timing@gmail.com' }
    e-mail.

%p
  On mobile devices, the page is best viewed on
  %a{ href: 'https://www.google.com/chrome/browser/mobile/' }
    Google Chrome web browser.

