%h1 IZJAVA O KORIŠTENJU PODATAKA

%p
  Ovime dajem privolu da se moji osobni podaci koriste u evidencijske svrhe
  Stoperica.live timing stranice i evidencijske svrhe organizatora natjecanja na
  koje se prijavljujem.
%p
  Stoperica.live će ih koristiti samo u te svrhe, te osim organizatora sportskih
  natjecanja na koje ste prijavljeni iste neće dostavljati trećim osobama!
%p
  Dajem suglasnost da me Stoperica.live i organizator natjecanja na koje sam
  prijavljen/a imaju pravo kontaktirati putem telefona ili elektronske pošte.
%p
  (Napomena: Prihvaćanje ove točke je obavezno za registraciju!)

%p
  U svakom trenutku možete zatražiti ažuriranje podataka koje dijelite s nama -
  slanjem e-maila na
  %a{ href: 'mailto:stoperica.timing@gmail.com' }
    stoperica.timing@gmail.com
