- if current_user&.admin?
  = link_to 'Dodaj natjecanje', new_league_path

- @leagues.each do |league|
  %h3= league.name
  %hr

  %table.mdl-data-table.mdl-shadow--2dp
    %thead
      %tr
        %th Utrka
        %th Datum
    %tbody
      - league.races.order(date: :desc).each do |race|
        %tr
          %td= race.name
          %td= l race.date, format: :short
