#races.mdl-grid
  - @races.each do |race|
    .mdl-cell.mdl-cell--3-col.mdl-cell--12-col-phone.mdl-cell--6-col-tablet
      .mdl-card.mdl-shadow--2dp
        .mdl-card__title.mdl-card--expand
          %h6
            %i.material-icons event
            = l race.date, format: :short
          %h4.text-center
            = race.name
        .mdl-card__actions.mdl-card--border
          = link_to race.ended_at.present? ? 'REZULTATI' : 'PRIJAVE', race
