default: &default
  adapter: postgresql
  encoding: unicode
  pool: 5
  timeout: 5000

development:
  <<: *default
  database: stoperica

test:
  <<: *default
  database: mtb_test

production:
  <<: *default
  password: <%= ENV['EXAMPLE_DATABASE_PASSWORD'] %>
