/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require material
 *= require quill.snow
 *= require_tree .
 *= require_self
 */

* {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  text-rendering: optimizeLegibility;
}

.turbolinks-progress-bar {
  height: 5px;
  background-color: rgb(64,196,255);
}

.page-content {
  width: 80%;
  margin: 2em auto;
  overflow-x: auto;
}

.field {
 margin: 2rem;
}

.field label {
  margin-right: 1.1rem;
  font-size: 1.1rem;
  font-weight: bold;
}

.hidden {
  display: none;
}

.is-vcentered {
  vertical-align: middle;
}

.uppercase {
  text-transform: uppercase;
}

h1, h2, h3, h4, h5, h6 {
  color: #555;
}

.mdl-layout__drawer-button {
  line-height: 50px !important;
}

.text-center {
  text-align: center;
}

.wide_table {
  width: 100%;
}

.mdl-data-table th, .mdl-data-table td {
  text-align: left !important;
}

.mdl-button {
  color: white !important;
}

select.tiny {
  width: 50px;
  margin: 5px;
  padding: 5px;
}

select {
  background: transparent;
  border: 0 none;
  outline: 0 none;
  border-bottom: 2px solid #555;
  padding: 1em 2em 1em 0;
  width: 300px;
  font-size: 16px;
}

option {
  font-size: 18px;
}


/* MDL mobile overrides */

@media screen and (max-width: 500px) {
  .page-content {
    width: calc(100% - 2em);
    padding: 0 1em;
  }

  h1 {
    padding-left: 5px !important;
  }

  .field {
    padding-left: 10px;
  }

  .mdl-data-table {
    margin: 0 -1em;
  }

  .mdl-data-table th {
    padding: 0 8px 8px 8px !important;
  }

  .mdl-data-table td {
    padding: 8px !important;
  }

  .mdl-data-table td:first-of-type, .mdl-data-table th:first-of-type {
    padding-left: 8px !important;
  }
}

/* category colors */
.cat-0 {
  background-color: #29B6F6;
}
.cat-1 {
  background-color: #EC407A;
}
.cat-2 {
  background-color: #26A69A;
}
.cat-3 {
  background-color: #66BB6A;
}
.cat-4 {
  background-color: #D4E157;
}
.cat-5 {
  background-color: #7E57C2;
}
.cat-6 {
  background-color: #EF5350;
}
.cat-7 {
  background-color: #FFA726;
}
.cat-8 {
  background-color: #FF7043;
}
.cat-9 {
  background-color: #8D6E63;
}
.cat-10 {
  background-color: #5C6BC0;
}
.cat-11 {
  background-color: #42A5F5;
}
.cat-12 {
  background-color: #AB47BC;
}
.cat-13 {
  background-color: #26C6DA;
}
.cat-14 {
  background-color: #9CCC65;
}
.cat-15 {
  background-color: #BDBDBD;
}
.cat-16 {
  background-color: #FFEE58;
}
.cat-17 {
  background-color: #78909C;
}
.cat-18 {
  background-color: #FFCA28;
}
.cat-19 {
  background-color: #FF4081;
}
.cat-20 {
  background-color: #84FFFF;
}
.cat-21 {
  background-color: #69F0AE;
}
.cat-22 {
  background-color: #EEFF41;
}
.cat-23 {
  background-color: #7C4DFF;
}

.shame {
  color: rgb(255,82,82) !important;
  font-weight: bold;
}

.shame:after {
  content: '*';
}

.list-unstyled {
  list-style: none;
  display: block;
  padding: 0;
}

.list-unstyled li {
  display: inline-block;
  margin: 0 10px;
  min-width: 20px;
}

.losers {
  color: red;
}

.is-capitalized {
  text-transform: capitalize;
}

.emoji {
  display: inline;
  margin-right: 0.5rem;
  font-family: emoji;
}

.league_heading {
  /* TODO */
  /* colors for each league and color code races */
}

.mdl-navigation__link {
  line-height: 60px !important;
  border-bottom: 4px solid transparent;
  transition: all 1s;
}

.mdl-layout--large-screen-only .mdl-navigation__link.is-active {
  border-bottom-color: rgb(64,196,255);
  color: rgb(66,66,66) !important;
}

.mdl-navigation__link.is-active {
  color: rgb(64,196,255) !important;
}

.mdl-grid.is-heading {
  background-color: #ccc;
}

@media screen and (max-width: 1024px) {
  .mdl-layout__drawer .mdl-navigation .mdl-navigation__link {
    padding: 0 1rem;
  }
}
