// Place all the styles related to the Races controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.mdl-card {
  width: 100% !important;
  height: 300px;

  .mdl-card__title {
    padding: 0 !important;
    flex-direction: column;

    h4 {
      margin: 1rem 2rem;
    }

    h6 {
      width: 100%;
      background: rgb(64,196,255);
      color: white;
      margin-top: 0;
      padding: 2rem 0;
      text-align: center;
    }
  }

  .material-icons {
    vertical-align: bottom;
  }

  .mdl-card__actions {
    height: 60px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-end;
    padding-right: 1.5rem;

    a {
      text-decoration: none;
      font-size: 1.4rem;
    }
  }
}

#register {
  color: white;
}

#races {
  .mdl-button-white {
    background: #efefef;
  }
}

.race-actions {
  margin-bottom: 4em;

  * {
    display: inline-block;
    margin-right: 2em;
    text-decoration: none;
  }

  .mdl-button {
    color: white;
  }
}

.new_race, .edit_race {
  .field {
    select {
      width: 100px;
      padding: 3px;
    }
  }
}

#add_category_list li {
  margin: .6em;
}

#raceResults {
  .edit_race_result {
    input, select {
      display: inline;
      width: 60px;
      padding: 2px;
      margin: 5px;
    }
  }
}

svg {
  height: 1.25rem;
  width: 1.25rem;
  padding-left: .5rem;

  &.gold {
    fill: gold;
  }

  &.silver {
    fill: silver;
  }

  &.bronze {
    fill: #cd7f32;
  }
}

@media screen and (max-width: 840px) {
  h1 {
    font-size: 2.5rem;
  }

  .wide_table {
    margin: 0;
  }

  .page-content {
    width: 100% !important;
    margin: 0 10px !important;
    padding: 0 !important;
  }

   table, thead, tbody, tr {
    display: block;
  }

  tr {
    white-space: initial;
    height: 100px !important;
    border-bottom: 1px solid #dddddd;
  }

  th, td {
    display: inline-block;
    width: 24%;
    border: 0 none !important;
    text-align: left !important;
  }

  .clubs_table {
    tr {
      width: 100%;
      height: 40px !important;
    }

    th, td {
      width: 49%;
    }
  }

  .pagination {
    margin-left: -10px;
    padding: 2rem 0;
    line-height: 2.5rem;

    .page {
      padding: 1rem 0.5rem;
    }
  }
}
