// Place all the styles related to the Races controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.mdl-card {
  width: 100% !important;
  height: 300px;

  .mdl-card__title {
    padding: 0 !important;
    flex-direction: column;

    h4 {
      margin: 1rem;
      font-size: 1.5rem;
    }

    h6 {
      width: 100%;
      background: rgb(64,196,255);
      color: white;
      margin-top: 0;
      padding: 1.25rem 0;
      text-align: center;
    }

    &.mdl-card--expand {
      background-size: cover;
      background-position: center;
      h4.text-outline {
        color: white;
        text-shadow: 1px 1px 0 black;
      }
    }
  }

  .material-icons {
    vertical-align: bottom;
  }

  .mdl-card__actions {
    height: 60px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-end;
    padding-right: 1.5rem;

    a {
      text-decoration: none;
      font-size: 1.4rem;
    }
  }
}

#register {
  color: white;
}

#races {
  .mdl-button-white {
    background: #efefef;
  }
}

.race-actions {
  margin-bottom: 3em;

  * {
    display: inline-block;
    margin-right: 2em;
    text-decoration: none;
  }

  .mdl-button {
    color: white;
  }
}

.new_race, .edit_race {
  .field {
    select {
      width: 100px;
      padding: 3px;   
    }
  }
}

#add_category_list li {
  margin: .6em;
}

#raceResults {
  .edit_race_result {
    display: inline-block;

    input, select {
      display: inline;
      width: 30%;
      padding: 2px;
      margin: 5px;
    }

    input[type=submit] {
      width: 1rem;
    }
  }

  #start_number_form {
    display: flex;
  }
}

svg {
  height: 1.25rem;
  width: 1.25rem;
  padding-left: .5rem;

  &.gold {
    fill: gold;
  }

  &.silver {
    fill: silver;
  }

  &.bronze {
    fill: #cd7f32;
  }
}

.waiver {
  display: block;
  margin: 1rem 0;
}

@media screen and (max-width: 840px) {
  h1 {
    font-size: 2.5rem;
  }

  .pagination {
    margin-left: -10px;
    padding: 2rem 0;
    line-height: 2.5rem;

    .page {
      padding: 1rem 0.5rem;
    }
  }
}

.mdl-grid.even {
  background-color: #eee;
}

#raceResults {
  .material-icons {
    vertical-align: middle;
  }

  .collapse {
    .mdl-grid {
      padding-top: 0;

      .mdl-cell {
        padding-bottom: 0;
        margin-bottom: 0;
      }
    }
  }
}

.edit_race_result {
  select.start_number_select {
    min-width: 50px;
  }
  select.category_id_select {
    min-width: 65px;
  }
}

.start-box-racers {
  .start-box-category {
    min-width: 55px;
  }
  a {
    margin: 24px 10px 16px;
  }
}

.btn-red {
  background-color: red;
  color: white;
}