%section.banner
  %a.columns{ href: 'https://www.stoperica.live/races/113'}
    .column
      = render 'layouts/islands_logo'
    .column
      %h5 2IslandsOn2Wheels Husqvarna XCM Kup Hrvatske
      %p.mdl-cell--hide-phone
        Pripremite slobodan vikend za najuzbudljiviji MTB maraton u Dalmaciji!

:scss
  $height: 5rem;

  .page-content {
    margin-bottom: $height;
    overflow: visible;
  }

  .banner {
    position: fixed;
    bottom: 0;
    width: 99%;
    height: $height;
    background: whitesmoke;
    z-index: 1000000;
    margin: 0;
    padding: 0;
    overflow: hidden;

    .columns {
      height: $height;
      display: flex;
      align-items: center;
      justify-content: center;
      text-decoration: none;

      .column {
        min-width: 8rem;
      }

      h5 {
        margin: 0.25rem 0;
        font-size: 1.25rem;
      }

      .banner-logo {
        height: 100%;
        width: 8rem;
        margin-right: 0.5rem;
        padding: 0;
      }

      @media screen and (min-width: 1024px) {
        .banner-logo {
          width: 10rem;
        }
      }
    }
  }
